.App {
    text-align: center;
  }
  
  .title {
    margin-bottom: 50px;
  }
  
  .image_wrapper {
    margin: 0px 10px;
  }
  
  .image_wrapper img {
    width: 70%;
  }
/* .container{
    margin-top: 5px;
    mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
} */